<div class="order-tracker">
  <div>
    Selection for {{orderManager.selectedDay}}
  </div>
  <div>
    Monday
    <dl>
      <dt>Salad</dt>
      <dd></dd>
      <dt>Sandwich</dt>
      <dd></dd>
      <dt>Meal</dt>
      <dd></dd>
      <dt>Dessert</dt>
      <dd></dd>
      <dt>Drink</dt>
      <dd></dd>
      <dt>Snack</dt>
      <dd></dd>
    </dl>
  </div>
  <div>
    Tuesday
    <dl>
      <dt>Salad</dt>
      <dd></dd>
      <dt>Sandwich</dt>
      <dd></dd>
      <dt>Meal</dt>
      <dd></dd>
      <dt>Dessert</dt>
      <dd></dd>
      <dt>Drink</dt>
      <dd></dd>
      <dt>Snack</dt>
      <dd></dd>
    </dl>
  </div>
  <div>
    Wednesday
    <dl>
      <dt>Salad</dt>
      <dd></dd>
      <dt>Sandwich</dt>
      <dd></dd>
      <dt>Meal</dt>
      <dd></dd>
      <dt>Dessert</dt>
      <dd></dd>
      <dt>Drink</dt>
      <dd></dd>
      <dt>Snack</dt>
      <dd></dd>
    </dl>
  </div>
  <div>
    Thursday
    <dl>
      <dt>Salad</dt>
      <dd></dd>
      <dt>Sandwich</dt>
      <dd></dd>
      <dt>Meal</dt>
      <dd></dd>
      <dt>Dessert</dt>
      <dd></dd>
      <dt>Drink</dt>
      <dd></dd>
      <dt>Snack</dt>
      <dd></dd>
    </dl>
  </div>
  <div>
    Friday
    <dl>
      <dt>Salad</dt>
      <dd></dd>
      <dt>Sandwich</dt>
      <dd></dd>
      <dt>Meal</dt>
      <dd></dd>
      <dt>Dessert</dt>
      <dd></dd>
      <dt>Drink</dt>
      <dd></dd>
      <dt>Snack</dt>
      <dd></dd>
    </dl>
  </div>
</div>

{{yield}}
