<div class="order-tracker">
  <div>
    Selection for {{orderManager.selectedDay}}
  </div>
  {{#each-in orderManager.menuSelection as |day menuOrder|}}
  <div>
    {{day}}
    <dl>
      <dt>Salad</dt>
      <dd></dd>
      <dt>Sandwich</dt>
      <dd></dd>
      <dt>Meal</dt>
      <dd></dd>
      <dt>Dessert</dt>
      <dd></dd>
      <dt>Drink</dt>
      <dd></dd>
      <dt>Snack</dt>
      <dd></dd>
    </dl>
  </div>
  {{/each-in}}
</div>

{{yield}}
