<h3>Salmon Couscous & Arugula Salad</h3>

<img class="item__image" src="menu/images/salmon-couscous-and-arugula-salad.jpg" alt="Salmon Couscous & Arugula Salad">

<dl>
  <dt>Rating</dt>
  <dd>3.9</dd>
  <dt>Calories</dt>
  <dd>323</dd>
  <dt>Description</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam esse a, magnam accusamus labore rem hic tempora iste rerum cupiditate nesciunt, beatae ad facilis praesentium libero nihil, officia animi aliquam!</dd>
</dl>

{{outlet}}
